

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Besto Guest House</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/simple-sidebar.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-default">
                    <a href="#">

                        <img src="/Files/admin.png" height="50" width="50" />
                        rabia
                    </a>
                </li>

                <li>

                    <a href="Add" style="left:20px;color:lightskyblue">Add Guest</a>
                </li>
                <li>
                    <a href="ViewUser" style="left:20px;color:lightskyblue">View Guest</a>
                </li>
                <li>
                    <a href="Delete" style="left:20px;color:lightskyblue">Delete Guest</a>
                </li>
                <li>
                    <a href="Search" style="left:20px;color:lightskyblue">Search Guest</a>
                </li>
                <li>
                    <a href="LogoutA" style="left:20px;color:lightskyblue">Logout</a>
                </li>

            </ul>
        </div>


        <h2> Search Data is below</h2>
        <div>


          
            <div>

                <table border="1">

                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Password</td>
                        <td>Type</td>
                        <td>Image</td>
                    </tr>
                    <tr>

                        <td> 15</td>
                        <td> sana</td>
                        <td>123</td>
                        <td>User</td>
                        <td>WP_20140628_045.jpg</td>
                    </tr>
                </table>
            </div>

        </div>
        </div>
</body>
</html>
